@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
  --vh: 907px;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb:hover {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgb(199, 199, 199);
}

#nprogress .bar {
  background: rgb(16 185 129) !important;
  height: 3px !important;
  box-shadow: none !important;
}

#nprogress .spinner {
  visibility: hidden;
}

.modal {
  width: clamp(10%, 420px, 90%);
  height: min-content;
}

.mainBoard {
  --height: min(468px, calc(var(--vh, 100vh) - 310px));
  height: var(--height);
  width: min(400px, calc(var(--height) / 6 * 6));
}

@media (max-width: 550px) {
  .mainBoard {
    --height: min(420px, calc(var(--vh, 100vh) - 310px));
    width: min(353px, calc(var(--height) / 6 * 6));
  }

  .gameList {
    height: 500px;
  }
}

@media (max-width: 350px) {
  .mainBoard {
    --height: min(350px, calc(var(--vh, 100vh) - 310px));
    width: min(290px, calc(var(--height) / 6 * 6));
  }
}
